* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100vh;
}

.container {
    min-width: 300px;
    max-width: 70%;
    margin: 0 auto;
    text-align: center;
    background-color: aquamarine;
    position: relative;
}

.category {
    font-size: 20px;
    margin: 20px auto
}

.container_answer {
    display:  flex;
    flex-direction: column;
}
.container_answer .answer {
    margin:  25px auto;
    width: 95%;
    height: 50px;
}


.table {
    width: 60%;
    height: 400px;
    background-color: blueviolet;
    position: absolute;
    left: 20%;
    margin-top: 30px;
    
}

.score {
    display: flex;
    justify-content: space-around;
    padding-bottom: 20px;
}